#navigation{
    width: 300px;
    height: 100%;
    background-color:#030303;
    position: fixed;
    float: left;
    position: fixed;
    top: 60px;
    left: 0;
    overflow: hidden;
}
.el-menu-vertical-demo{
    width: 300px;
}
.el-menu-vertical-demo:hover{
    color: #000;
}