#borrow-management{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.borrow-book-info-table{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sreach-book{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination{
    float: right;
}